html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ee2a7b;
  background: linear-gradient(45deg, #eb9cbd 0%, #e96a9f 50%, #ee2a7b 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  min-height: 100vh;
}

.display {
  min-height: 75vh;
}

.display__time-left {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.timer {
  display: flex;
  flex-direction: column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 2rem;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: 'Inconsolata', monospace;
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__end-time {
  font-size: 4rem;
  color: white;
}

.btn {
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: #ee2a7b;
  width: auto;
  padding: 10px 15px;
  border-radius: 10px;
  border: #ee2a7b 3px solid;
  background-color: #eb9cbd;
  transition: all 0.4s ease;
  font-size: 18px;
  align-self: center;
  margin: 10px;
}

.btn:hover {
  color: #eb9cbd;
  border: #eb9cbd 3px solid;
  background-color: #ee2a7b;
}
.social-btn {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #ee2a7b;
}

.link:hover {
  color: #eb9cbd;
  padding: 15px auto;
}
