* {
  font-family: 'Josefin Sans', sans-serif;
}
html {
  background: #fabada;
}

.title {
  text-align: center;
  color: #464646;
  margin-top: 50px;
}
.inbox {
  max-width: 800px;
  min-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #5d9dd1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
}
input::placeholder {
  font-family: 'Open Sans', sans-serif;
}

input[type='checkbox'] {
  margin: 20px;
}

.add {
  margin: 10px;
  padding: 2px;
  width: 150px;
  height: 30px;
}

p {
  margin: 0;
  padding: 20px;
  transition: all 0.4s linear;
  flex: 1;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #c24141;
}

.paragraph {
  border: none;
}
i {
  color: #c24141;
}

/* input[type='text']::placeholder:focus {
  color: transparent;
} */
