*,
*::after,
*::before {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fabada;
}
.header,
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 50px;
  color: #ee2a7b;
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 10vh 25px;
  justify-content: center;
  list-style: none;
}

.exercise {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: antiquewhite;
  border: #ee2a7b 5px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  counter-increment: itemcounter;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.7s ease-in all;
}

.exercise::before {
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, '.', decimal-leading-zero);
}

.links {
  color: #ee2a7b;
  text-align: center;
  transition: 0.7s ease-in all;
  padding: 10px 0 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}

.links::before,
.links::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  padding-top: 7px;
  left: 0;
  pointer-events: none;
}

.links::before {
  content: '';
}

.link--leda {
  overflow: hidden;
  font-weight: 700;
  line-height: 2;
}

.link--leda::before {
  height: 2px;
  top: calc(100% - 5px);
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: all 0.7s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.link--leda::after {
  content: attr(data-text);
  top: 0;
  background: none;
  transform-origin: 100% 50%;
  transform: translate3d(150%, 0, 0);
  transition: all 0.7s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::after {
  transform: translate3d(0, 0, 0);
}

.link--leda span {
  display: inline-block;
  transition: all 0.7s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover span {
  transform: translate3d(-150%, 0, 0);
}
