html {
  box-sizing: border-box;
  background: #f88ba1;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 30px auto;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 70px;
  padding-left: 10px;
}
.title {
  color: #26002d;
  font-family: 'Monoton', sans-serif;
  font-weight: 100;
  font-size: 50px;
  grid-column: 1 / 2;
  align-self: start;
}
.subtitle {
  font-family: 'Monoton', sans-serif;
  font-weight: 100;
  font-size: 30px;
  grid-column: 1 / 2;
  align-self: end;
}
.player {
  height: 140px;
  border-radius: 20px;
  border: #26002d 10px groove;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: end;
}
.photobooth {
  background: #26002d;
  max-width: 1024px;
  margin: 20px auto;
  padding: 2rem auto;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgba(255, 255, 255, 0) 10px solid;
  border-radius: 20px;
  padding: 0 10px;
}

.photo {
  float: left;
  margin: 10px 20px;
  border-radius: 20px;
  border: #fa2d56 10px groove;
  height: 500px;
}

.rgb {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.tip {
  padding-left: 10px;
}
.strip {
  max-width: 1024px;
  margin: 0 auto;
}
.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #f1c9d1;
}

.strip a:nth-child(5n + 1) img {
  transform: rotate(10deg);
}
.strip a:nth-child(5n + 2) img {
  transform: rotate(-2deg);
}
.strip a:nth-child(5n + 3) img {
  transform: rotate(8deg);
}
.strip a:nth-child(5n + 4) img {
  transform: rotate(-11deg);
}
.strip a:nth-child(5n + 5) img {
  transform: rotate(12deg);
}

label {
  color: #fa2d56;
}
.buttons {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.social-btn {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.btn {
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: #fa2d56;
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  border: #fa2d56 3px solid;
  background-color: #26002d;
  transition: all 0.4s ease;
  font-size: 18px;
  align-self: center;
  margin: 10px;
  text-align: center;
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>📸</text></svg>"),
    auto;
}
.btn:hover {
  color: #26002d;
  background-color: #fa2d56;
}
.link {
  text-decoration: none;
  font-size: 18px;
  color: #fa2d56;
}
.link:hover {
  color: #26002d;
  padding: 15px auto;
}

.red:hover {
  background-color: #fa2d2d;
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>❤️</text></svg>"),
    auto;
}
.green:hover {
  background-color: #4ffa2d;
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>💚</text></svg>"),
    auto;
}
.blue:hover {
  background-color: #2d53fa;
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>💙</text></svg>"),
    auto;
}

.split:hover {
  background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🌈</text></svg>"),
    auto;
}

.line {
  color: #fa2d56;
  margin-bottom: 10px;
  padding-top: 5px;
  border-bottom: #fa2d56 1px solid;
}
input[type='range'] {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>💚</text></svg>"),
    auto;
}
