html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fabada;
  display: flex;
  min-height: 100vh;
  align-items: center;

  background-image: radial-gradient(
      circle at 100% 150%,
      #fabada 24%,
      #ff88c4 25%,
      #ff88c4 28%,
      #fabada 29%,
      #fabada 36%,
      #ff88c4 36%,
      #ff88c4 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #fabada 24%,
      #ff88c4 25%,
      #ff88c4 28%,
      #fabada 29%,
      #fabada 36%,
      #ff88c4 36%,
      #ff88c4 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      #ff88c4 10%,
      #fabada 11%,
      #fabada 23%,
      #ff88c4 24%,
      #ff88c4 30%,
      #fabada 31%,
      #fabada 43%,
      #ff88c4 44%,
      #ff88c4 50%,
      #fabada 51%,
      #fabada 63%,
      #ff88c4 64%,
      #ff88c4 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      #ff88c4 5%,
      #fabada 6%,
      #fabada 15%,
      #ff88c4 16%,
      #ff88c4 20%,
      #fabada 21%,
      #fabada 30%,
      #ff88c4 31%,
      #ff88c4 35%,
      #fabada 36%,
      #fabada 45%,
      #ff88c4 46%,
      #ff88c4 49%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      #ff88c4 5%,
      #fabada 6%,
      #fabada 15%,
      #ff88c4 16%,
      #ff88c4 20%,
      #fabada 21%,
      #fabada 30%,
      #ff88c4 31%,
      #ff88c4 35%,
      #fabada 36%,
      #fabada 45%,
      #ff88c4 46%,
      #ff88c4 49%,
      transparent 50%,
      transparent
    );
  background-size: 100px 50px;
}

.voiceinator {
  padding: 2rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: white;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: 0.5rem;
  background: #fabada;
  border-bottom: 5px solid #ff88c4;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Pacifico', sans-serif;
  text-shadow: 3px 3px 0 #ff88c4;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: #f7f7f7;
  outline: 0;
}

textarea {
  height: 20rem;
}

input[type='select'] {
  color: #fabada;
}

.voiceinator button {
  background: #fabada;
  border: 0;
  width: 49%;
  float: left;
  font-family: 'Pacifico', sans-serif;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #ff88c4;
  cursor: pointer;
  position: relative;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
