:root {
  --width: 300px;
  --spacing: 10px;
  --radius: 1%;
  --blur: 0px;
  --base: #fabada;
}

html {
  height: 100vh;
  background: linear-gradient(to bottom, #f1f2b5, #135058);
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #193549;
  font-family: 'helvetica neue', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.title {
  font-size: 36px;
  border-bottom: #135058 3px solid;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.controls {
  margin-bottom: 50px;
  grid-row: 1 / 6;
}

.grid {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px;
}

input {
  width: 80px;
}

label {
  grid-column: 1 / 2;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  border-radius: var(--radius);
  width: var(--width);
  grid-column: 2 / 3;
}

.width {
  grid-row: 1 / 2;
}
.spacing {
  grid-row: 2 / 3;
}
.radius {
  grid-row: 3 / 4;
}
.blur {
  grid-row: 4 / 5;
}
.base {
  grid-row: 5 / 6;
}

.width,
.spacing,
.radius,
.blur,
.base {
  justify-self: start;
  margin-left: 50px;
}
