* {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  box-sizing: border-box;
  background: #fabada;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin-top: 0;
}

.site-wrap {
  max-width: 800px;
  min-width: 500px;
  margin: 100px auto;
  background: white;
  padding: 40px;
  text-align: justify;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all 0.6s ease;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.8);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.8);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.img400 {
  width: 400px;
}

.img200 {
  width: 200px;
}
