html {
  box-sizing: border-box;
  background: #ffc600;
  background: url(../img/bg.png) repeat;
  background-size: cover cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  color: #245983;
  border: 10px solid #245983;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}
input.search::placeholder {
  color: #245983;
}
.suggestions {
  margin: 0;
  position: relative;
  width: auto;
  padding: 0;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  height: 130px;
}

span.population {
  font-size: 15px;
  padding: 4px auto;
}

.hl {
  background: #24588370;
}

.links {
  text-decoration: none;
  color: #245983;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 4px auto;
  margin-right: auto;
}
.links:hover {
  border-bottom: 1px solid #245983;
}

.name,
.population {
  margin-bottom: 8px;
}
