html {
  box-sizing: border-box;
  font-size: 10px;
  background: #61d889;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}
.header {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
  color: #ee2a7b;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('../img/dirt.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('../img/mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🔨</text></svg>"),
    auto;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.start,
.btn {
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: #ee2a7b;
  width: auto;
  padding: 10px 15px;
  border-radius: 10px;
  border: #ee2a7b 3px solid;
  background-color: #61d889;
  transition: all 0.4s ease;
  font-size: 18px;
  align-self: center;
  margin: 10px;
}

.start:hover,
.btn:hover {
  color: #61d889;
  border: #61d889 3px solid;
  background-color: #ee2a7b;
}
.social-btn {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #ee2a7b;
}

.link:hover {
  color: #61d889;
  padding: 15px auto;
}

.start {
  margin-top: 50px;
  font-size: 24px;
}

.start:hover {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>✨</text></svg>"),
    auto;
}
