html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: salmon;
}

.canvas {
  background-color: beige;
  background: url(../img/canvas.jpg) center fixed;
  background-size: cover;
  cursor: url(../img/cursor.cur), auto;
  width: 96%;
  height: 96%;
  border: tomato 10px double;
}
