html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fabada;
  height: 100vh;
}

.reset,
.view,
.download,
.btn {
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: #fabada;
  width: auto;
  padding: 10px 15px;
  border-radius: 10px;
  border: #fabada 3px solid;
  background-color: #18336b;
  transition: all 0.4s ease;
  font-size: 18px;
  align-self: center;
  margin: 10px;
}
.reset:hover,
.view:hover,
.download:hover,
.btn:hover {
  color: #18336b;
  border: #18336b 3px solid;
  background-color: #fabada;
}

.canvas {
  background-color: beige;
  background: url(../img/canvas.jpg) center fixed;
  background-size: cover;
  cursor: url(../img/cursor.cur), auto;
  width: 95%;
  height: 80%;
  border: #fabada 10px double;
  border-radius: 10px;
  opacity: 0.8;
}
.social-btn {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #fabada;
}

.link:hover {
  color: #18336b;
  padding: 15px auto;
}
