html {
  font-size: 10px;
  background: url('../img/background.jpg') bottom center;
  background-size: cover;
}

.background,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media only screen and (max-width: 768px) {
  .keys {
    flex-wrap: wrap;
  }
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid #44282e;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  min-width: 5rem;
  text-align: center;
  color: white;
  background: #bf754456;
  text-shadow: 0 0 0.5rem #44282e;
}

.playing {
  transform: scale(1.1);
  border-color: #bf7644;
  box-shadow: 0 0 1rem #bf7644;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #bf7644;
  text-shadow: 0 0 0.5rem black;
}
