body {
  height: 90vh;
  background-color: #4b2247;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.btn {
  position: absolute;
  bottom: 20px;
  border: 3px #4b22473b solid;
  box-shadow: 0 0 1px 3px #4b22473b, 0 0 0 3px rgb(19, 16, 16), 0 0 5px #002d3a, 0 0 5px rgba(0, 84, 107, 0.075);
  border-radius: 10px;
  background: #4b2247;
  transition: all 0.4s ease;
}
.btn:hover {
  border: 3px #aab329 solid;
  box-shadow: 0 0 8px #aab329;
}
.btn1 {
  left: 30%;
}
.btn2 {
  right: 30%;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: white;
  text-shadow: 0 0 0.5rem black;
}
